
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope="col">User Role</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="col">
          <%= user.id do %>
          <%end%>
        </th>
        <th scope="col">
          <%= user.name do %>
          <%end%>
        </th>
        <th scope="col">
          <%= user.role do %>
          <%end%>
        </th>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
