
<div class="container">
  <div class="jumbotron m-0 p-0">
    <h1 class="display-4 align-center-item">GrubHub</h1>
    <h1 class="lead display-6 align-center-item">Welcome to the fastest food delivery application.</h1>
    <div class="align-center-item">
      <%= image_tag("GrubHub.png", class:"img-responsive img-fluid", style:"height:400px")%>
    </div>
    <div class="home-tagline">
      <h3 class="lead align-center-item">We deliver everywhere in the universe, be it in Pluto or Mars. We are everywhere.</h3>
    </div>
    <hr class="my-4">
    <div class="lead align-center-item flex-row">
      <div class="p-2"><%= link_to "Sign in", "/signin", class: "btn btn-primary btn-lg" %></div>
      <div class="p-2"><%= link_to "Sign Up", "/users/new", class: "btn btn-primary btn-lg" %></div>
    </div>
    <div class="p-2 text-center"><%= link_to "Owner Registration", "/register/owner", class: "btn btn-primary btn-lg" %></div>
  </div>
</div>
